* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

#imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2px;
}

.all {
    background: url(./80317274_p0_master1200.jpg) no-repeat fixed center center;
    background-size: cover;
}

.cinza {
    filter: grayscale(100%);
}

.cinza-blur {
    filter: blur(10px) grayscale(100%);
}

.blur {
    filter: blur(10px);
}