* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;

  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

html,
body,
#canvas {
  width: 100%;
  height: 100%;
}

#canvas {
  background-color: #040604;
}
