@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	border: none;
	font-family: 'Josefin Sans', sans-serif;	
}
html, body{
	width: 100%;
	height: 500%;
}
header{
	background: #e4e4e4;
	top: 0;
	background: white;
	z-index: 1000;
	position: fixed;
	width: 100%;
	height: 65px;
	padding: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
img{
	height: 100%;
	width: auto;
}
h1{
	color: dimgrey;
	color: rgb(85%,85%,85%);
}
button{
	font-size: 1.4em;
	background: transparent;
	padding: 8px;
	color: lightgrey;
}
.hero{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 2em;
	background: rgba(90%,90%,90%, 0.8);
	margin-top: 65px;
	min-height: 500px;
	position: relative;
	overflow: hidden;
}
.hero img{
	animation: movePiramide 2s ease-in-out infinite alternate;
	z-index:0;
	position: absolute;
	bottom: 0;
	right: 10px;
	height: calc(100% - 20px);
	width: auto;
	filter: grayscale(50%);
	opacity: 0.1;
}
.hero h1{
	letter-spacing: 0.5em;
	color: #32CBCB;
	text-align: center;
	padding: 30px;
}
.hero p{
	letter-spacing: 0.5em;
	color: dimgrey;
	text-align: center;
	padding: 30px;
}

.animation{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -10;
}

.line-t1{
	stroke: lightgrey;
	animation: move 1s linear 1;
}
.line-t2{
	stroke: lightgrey;
	animation: move .8s linear 1;
}
.line-t3{
	stroke: lightgrey;
	animation: move 1s linear 1;
}
.line-t4{
	stroke: lightgrey;
	animation: move 1s linear 1;
}
@keyframes move{
	to{
		opacity: 0;
		transform: translate(-150vw, 600px);
	}
}
@keyframes movePiramide{
	to{
		transform: translate(0, 15px) rotate(-3deg);
	}
}