/*============RESET===============*/

html,
body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Yu Gothic UI";
    font-size: 1em;
}

b {font-weight: 700;}
a {text-decoration: none;color: black;font-weight: bolder;}
ul {list-style: none;}
img {max-width: 100%;}
button {background: transparent}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

::-webkit-scrollbar-track {background-color: #F5F5F5;}
::-webkit-scrollbar {width: 5px;background-color: #F5F5F5;}
::-webkit-scrollbar-thumb {background-color: #000000;}

/*=======CANVAS (BACKGROUNDS)=========*/

/*=============JIOFONE=============*/

body {
    position: relative;

    display: grid;
    grid-template:
            "header" 65px
            "hero" calc(100% - 65px)
            "main" auto
            "banner" auto
            "redes" auto
            "newsletter" auto
            "autor" auto
            "footer" auto
                /100%;
}

.ancora-inicio {
    visibility: hidden;
    opacity: 0;

    border-radius: 100%;

    bottom: 20px;
    right: 20px;

    position: fixed;

    width: 50px;
    height: 50px;

    background: white;
    box-shadow: 0 1px 20px lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.header-container{
    grid-area: header;
    background: rgba(340,340,340,1);
}
.hero-container{
    grid-area: hero;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;

    grid-area: main;
}
.banner-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;


    grid-area: banner;
    background: rgb(95%,95%,95%);
}
.redes-container{
    grid-area: redes;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;

    padding: 12px;
    font-size: 1.3em;

    background: white;
}
.redes-container *{color: lightgrey;}

.newsletter-container{
    position: relative;

    grid-area: newsletter;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background: rgb(95%,95%,95%);

    padding: 12px;
}
.autor-container{
    padding: 24px;
    grid-area: autor;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bolder;
}
.autor-container img{
    margin-right: 5px;
    border-radius: 100%;

    width: 65px;
    height: 65px;

    object-fit: cover;
    object-position: center;

    border: 3px solid #faae40;
}

.footer-container{
    grid-area: footer;
    background: black;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

/*===========HEADER==============*/

.header-content-sm{
    z-index: 15;

    width: 100%;
    height: 65px;

    position: fixed;

    background: black;

    padding: 17px;

    display: flex;
    justify-content: space-between;
}
.header-content-sm *{
    color: white;
    fill: white;
}
.header-content-sm svg{
    height: 100%;
    width: auto;
}

.submenu-container-bg, .submenu-container-close, .header-content-bg{
    display: none;
}
/*=============HERO==============*/

.hero-background{
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-filter{
    height: 100%;
    width: 100%;

    position: absolute;

    background: linear-gradient(to top, rgba(100%,100%,100%,1), rgba(0,0,0,0));
}
.hero-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 75%;

    position: absolute;
    z-index: 0;
}
.hero-search-icon{
    box-shadow: 0 1px 20px lightgrey;
    background: white;

    border-radius: 100%;
    padding: 12px;

    top: 20px;

    position: absolute;

    z-index: 5;
}
.hero-search-icon:hover{
    cursor: pointer;
}
.hero-form{
    opacity: 0;
    transform: translateY(-200%);

    top: 20px;

    position: absolute;

    width: 90%;

    z-index: 5;
}
.hero-input-container{
    border-radius: 30px;
    background: white;
    box-shadow: 0 1px 20px lightgrey;

    width: 100%;

    display: flex;
    align-items: center;
}
.hero-icon{
    position: relative;

    animation: scaleAnimation 2s ease-in-out 0s infinite normal;
    padding: 8px;
}
.hero-submit{
    left: 0;
    top: 0;
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
}
.hero-input{
    background: transparent;
    width: 100%;
    padding: 12px;
}
.hero-button{
    position: absolute;

    text-align: center;

    padding: 12px;
    width: 150px;

    border-radius: 30px;
    background: white;
    box-shadow: 0 1px 20px lightgrey;

    animation: colorAnimation 2s ease-in-out 0s infinite normal;
}
.hero-arrow-down{
    position: absolute;

    text-align: center;

    bottom: 20px;

    color: #d85366;

    animation: toTopAnimation 2s ease-in-out 0s infinite normal;
}
.hero-lado{
    display: none;
}

/*==========MAIN=============*/

.main-title{
    width: 80%;

    text-align: center;
    padding: 12px 0 12px 0;
    font-size: 2em;

    margin: 72px 0 4px 0;

    animation: colorAnimation 2s ease-in-out 0s infinite normal;
}
.main-subtitle{
    color: white;

    background: linear-gradient(to left, #faae40, #d85366);

    width: 100%;

    padding: 16px;
    margin: 16px 0 16px 0;
    font-size: 1.5em;
}

.border-animated{
    display: block;

    width: 0;
    height: 5px;

    animation: backgroundAnimation 2s ease-in-out 0s infinite normal;

    margin-top: 5px;
}
.main-title:hover .border-animated, .main-title:active .border-animated{
    width: 100%;
    transition: all 200ms ease-in-out;
}
.main-title:not(hover) .border-animated, .main-title:not(active) .border-animated{
    transition: all 200ms ease-in-out;
}

.carousel{
    box-shadow: 0 1px 20px lightgrey;

    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    border-image: linear-gradient(to right, #faae40, #d85366, #faae40);
    border-image-slice: 1;

    overflow: hidden;

    background: rgba(100%,100%,100%,0.95);
    margin: 16px 0 16px 0;
}
.img{
    position: relative;

    overflow: hidden;
    height: 200px;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;

    padding: 12px;
    height: auto;
}
.content p:first-child{
    color: #d85366;
    font-size: 0.95em;

    margin-bottom: 12px;
}
.content h1{
    font-size: 1.1em;
    margin-bottom: 12px;
}
.content p:last-child{
    color: lightgrey;
    font-size: 0.95em;
    margin-bottom: 12px;
}
.spanIcone{
    visibility: hidden;
    opacity: 0;

    z-index: 1000;

    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3em;
    color: white;
}
.slide{
    overflow: hidden;
}
.slide:hover .spanIcone, .slide:active .spanIcone{
    visibility: visible;
    opacity: 1;

    transition: 100ms ease-in-out;
}
.slide:hover .img-card{
    transform: scale(1.1);
    transition: all 200ms ease-in-out;
}
.slide:not(hover) .img-card{
    transition: all 200ms ease-in-out;
}
.slide:not(hover) .spanIcone, .slide:not(active) .spanIcone{
    transition: 100ms ease-in-out;
}

/*=========CONTAINER CARDS SIMPLES===========*/

.name-card{
    text-align: center;

    padding: 7px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container-img-card{
    position: relative;

    overflow: hidden;
    height: 185px;

    width: 100%;
}
.img-card{
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
}

/*==========NEWSLETTER==========*/

.newsletter-form{
    background: white;
    border-radius:30px;
    padding: 24px;
}
.newsletter-text-center{
    margin-bottom: 12px;
    text-align: center;
}
.container-input{
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 1px 20px lightgrey;
    border-radius: 30px;
    margin-bottom: 12px;
    background: linear-gradient(to left, #faae40, #d85366);
}
.container-input *{
    text-align: center;
}
.container-input-input, .container-input-icon{
    padding: 12px;
}
.container-input-input{
    width: 100%;
    border-radius: 30px;
}
.container-input-icon{
    color: white;
    font-size: 1.1em;
}
.newsletter-submit{
    margin-top: 24px;

    box-shadow: 0 1px 20px lightgrey;

    width: 100%;
    font-weight: bolder;
    color: white;
    border-radius: 30px;
    padding: 12px;
    background: linear-gradient(to left, #faae40, #d85366);
}
.newsletter-form p{color: lightgrey}
.newsletter-form h1{font-size: 1.3em}

/*============FOOTER==========*/

.footer-block{
    width: 100%;
    padding: 24px;
}
.footer-block *{
    text-align: center;
}
.footer-block i{
    color: white;
    width: 100%;
}
.footer-block h1{
    margin-bottom: 12px;
    color: dimgrey;
}
.footer-block a{
    transition: all 200ms ease-in-out;
    padding: 6px;
    color: grey;
}

.footer-end{
    background: white;
    text-align: center;
    padding: 12px;
    width: 100%;
}
.footer-end i:first-child{
    color: red
}
.footer-end i:last-child{
    color: black
}

.footer-block a:hover, .footer-block a:active{
    color:white;
}


/*========SUBMENU-CONTAINER=========*/

.submenu-container{
    visibility: hidden;
    opacity: 0;

    display: flex;
    justify-content: flex-end;

    transition: all 200ms ease-in-out;

    overflow: hidden;

    top: 65px;

    z-index: 1000;

    position: fixed;

    background: rgba(0, 0, 0, 0.6);

    width: 100%;
    height: calc(100% - 65px);

}

.submenu-container-close{
    display: block;

    background: transparent;

    width: 55%;
    height: 100%;
}

.submenu-container-sm{
    width: 100%;
    height: 100%;
    background: white;

    overflow-y: scroll;
}
.submenu-link-sm{
    display: block;
    text-align: center;
    color: lightgrey;

    transition: all 200ms ease-in-out;
    padding: 8px;
}
.submenu-link-sm:hover, .submenu-link-sm:active{
    color: black;
}
.submenu-container-sm h1{
    text-align: center;
    color: #faae40;
    padding: 16px 0 8px 0;
}

/*===========POP-UP-REDES-SOCAIS-CONTAIENR==============*/

.popup-redes-sociais{
    visibility: hidden;
    opacity: 0;

    width: 100%;

    position: fixed;
    bottom: 0;

    background: white;

    z-index: 1000;
}
.popup-redes-sociais i, .popup-redes-sociais a{
    display: block;
}
.popup-redes-sociais i{
    background: red;
    color: white;

    padding: 20px;
    text-align: right;
}
.popup-redes-sociais a{
    padding: 20px;
    text-align: center;
}











#youtube{transition: all 200ms ease-in-out}
#twitter{transition: all 200ms ease-in-out}
#facebook{transition: all 200ms ease-in-out}
#share{transition: all 200ms ease-in-out}

#youtube:hover, .youtube:active{color:red;}
#twitter:hover, .twitter:active{color: #1ac4f5;}
#facebook:hover, .facebook:active{color: #4267b2;}
#share:hover, .share:active{color:gold;}

.carousel-container {transform: translateY(20%);opacity: 0;}

@keyframes colorAnimation { 0% {color: black;} 33% {color: #faae40;} 66% {color: #d85366} 100% {color: black;} }
@keyframes backgroundAnimation { 0% {background: black;} 33% {background: #faae40;} 66% {background: #d85366} 100% {background: black;} }

@keyframes scaleAnimation { 0% {transform: scale(1);} 50% {transform: scale(1.1);} 100% {transform: scale(1.0);} }

@keyframes rotateAnimation { 0% {transform: rotate(400grad);} 100% {transform: rotate(0);} }
@keyframes toTopAnimation { 0% {transform: translateY(-5px);} 50% {transform: translateY(5px);} 100% {transform: translateY(-5px);} }

@media screen and (min-width: 360px){
    *{
        font-size: 1.02em;
    }
    .footer-block{
        width: 50%;
    }
}
@media screen and (min-width: 600px){
    .container-img-card{
        height: 300px;
    }
    .img{
        padding: 5px;
    }
    .img img{
        box-shadow: 0 1px 5px lightgrey;
    }

    /*===========HEADER==========*/

    .header-content-bg{
        transition: all 200ms ease-in-out;

        visibility: hidden;
        opacity: 0;

        z-index: 15;

        width: 65px;
        height: calc(100% - 65px);

        position: fixed;
        right: 0;
        bottom: 0;

        background: black;

        padding: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .header-content-bg *{
        fill: white;
    }
    .header-content-bg svg{
        display: none;
    }
    .header-nav-container{
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-icons{
        width: 40px;
        height: 40px;

        margin-bottom: 10px;
        padding: 10px;

        border-radius: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-icons i{
        transition: all 200ms ease-in-out;
        color: dimgrey;
    }
    .header-lupa{
        margin: 0;
    }
    .header-icons:hover, .header-icons:active, .header-icons-active{
        background: rgba(50,50,50,1);
    }
    .header-icons:hover i, .header-icons:active i, .header-icons-active i{
        color: white;
    }
    .ancora-inicio {
        left: 20px;
    }

    /*==========SUBMENU-CONTAINER-BG==========*/

    .submenu-container-sm{
        display: none;
    }
    .submenu-container{
        width: calc(100% - 65px);
    }

    .submenu-container-close{

    }

    .submenu-container-bg{
        display: none;

        transition: all 200ms ease-in-out;

        width: 0;
        height: 100%;

        background: white;

        overflow-y: scroll;
        position: relative;
    }
    .submenu-content-bg{
        transition: all 200ms ease-in-out;

        display: none;
        opacity: 0;

        position: absolute;


        padding: 24px;

        width: 100%;
        height: 100%;
    }
    .submenu-container-bg h1{
        display: inline-block;

        width: 100%;
        padding: 12px;

        color: #faae40;
        font-size: 1.2em;
        margin-bottom: 12px;
    }
    .submenu-container-bg a{
        transition: all 200ms ease-in-out;

        display: inline-block;
        color: lightgrey;

        margin-bottom: 8px;

        width: 100%;
        padding: 12px;
        border-radius: 30px;
    }
    .submenu-content-icon{
        width: 28px;
        margin-right: 5px;
    }

    .submenu-container-bg a:hover, .submenu-container-bg a:active{
        color: black;
        background: rgb(98%,98%,98%);
    }







}
@media screen and (min-width: 850px){
    .container-img-card{
        height: 325px;
    }
    .footer-block{
        width: 30%;
    }
    .newsletter-text-center{
        margin-bottom: 24px;
    }
    .hero-img{
        display: none;
    }
    .hero-lado{
        z-index: -2;
        overflow: hidden;

        width: 50%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero-lado h1, .hero-lado p{
        width: 50%;
    }
    .hero-lado h1{
        font-size: 1.4em;
        margin-bottom: 24px;
    }
    .hero-lado p{
        color: lightgrey;
        font-size: 1.1em;
    }
    .hero-lado img{
        height: 100%;
        width: 50%;
        object-fit: cover;
        object-position: 75%;

        position: absolute;
    }
    .hero-arrow-down{
        left: 25%;
    }
}
@media screen and (min-width: 1000px){
    body {
        position: relative;

        display: grid;
        grid-template:
                "hero header" 100%
                "main header" auto
                "banner header" auto
                "redes header" auto
                "newsletter header" auto
                "autor header" auto
                "footer header" auto
                /calc(100% - 65px) 65px;
    }
    .submenu-container{
        top: 0;
        height: 100%;
    }
    .header-content-bg{
        visibility: visible;
        opacity: 1;
        height: 100%;
    }
    .header-content-bg svg{
        display: block;
        height: 35px;
        width: 35px;
    }
    .header-content-sm{
        display: none;
    }

}


















