@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");
@keyframes colorAnimation {
  0% {
    color: #40e0d0;
  }
  50% {
    color: black;
  }
  100% {
    color: #00acc1;
  }
}

@keyframes textIndentAnimation {
  0% {
    text-indent: 5px;
  }
  100% {
    text-indent: -5px;
  }
}

@keyframes toRightAnimation {
  0% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}

@keyframes toBottomAnimation {
  0% {
    transform: translateY(16px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes toBottomAnimationAndColorAnimation {
  0% {
    color: black;
    transform: translateY(16px);
  }
  50% {
    color: #40e0d0;
  }
  100% {
    color: #00acc1;
    transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font-family: 'Titillium Web', sans-serif;
  font-weight: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
}

b {
  font-weight: bolder;
}

a {
  display: block;
  cursor: pointer;
}

a:not([target="_blank"]) {
  text-decoration: none;
  color: #40e0d0;
}

button {
  cursor: pointer;
  background: transparent;
}

.erro {
  visibility: hidden;
  color: red;
  font-weight: bolder;
  margin-bottom: 24px;
}

.sucess {
  visibility: hidden;
  color: green;
  font-weight: bolder;
  margin-top: 24px;
}

.display-none {
  display: none;
}

.header {
  z-index: 15;
  width: 100%;
  height: 55px;
  -webkit-box-shadow: 0 1px 20px lightgrey;
  -moz-box-shadow: 0 1px 20px lightgrey;
  box-shadow: 0 1px 20px lightgrey;
  padding: 12px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.header button {
  color: #00acc1;
}

.foto-autor {
  border: 2px solid #00acc1;
  overflow: hidden;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.foto-autor img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.autor {
  margin-left: 12px;
  color: lightgrey;
  font-size: 0.8em;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header-container-top {
  top: 0;
  justify-content: flex-start;
}

.header-container-bottom {
  bottom: 0;
}

.search-form {
  margin-left: 12px;
  width: 100%;
  min-width: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  background: whitesmoke;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-search {
  padding: 12px;
  background: transparent;
  width: 100%;
  min-width: 0;
}

.submit-icon {
  padding: 12px;
}

.header-bars {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin-right: 8px;
}

.header:last-child {
  margin: 0;
}

.header-bars:hover {
  background: whitesmoke;
}

#to-top {
  font-size: 2em;
  z-index: 10;
  position: fixed;
  top: 62.5px;
  right: 7.5px;
  width: 50px;
  height: 50px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid whitesmoke;
  -webkit-box-shadow: 0 1px 20px lightgrey;
  -moz-box-shadow: 0 1px 20px lightgrey;
  box-shadow: 0 1px 20px lightgrey;
}

.menu-container {
  z-index: 12;
  position: fixed;
  top: 55px;
  width: 0;
  height: calc(100% - 110px);
  color: black;
  display: block;
  background: white;
  overflow-y: scroll;
}

.menu-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.menu-content-block-container {
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: flex-start;
}

#close-menu {
  position: fixed;
  top: 67px;
  left: 4px;
  width: 50px;
  height: 50px;
  font-size: 2em;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#close-menu:hover, #close-menu:active {
  color: red;
}

.menu-content-block-content {
  width: 100%;
  min-width: 0;
  height: auto;
}

.menu-content-block-content * {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  text-align: center;
  width: 100%;
  padding: 24px;
}

.menu-content-block-content p {
  color: lightgrey;
}

.menu-content-block-content a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  color: #00acc1;
}

.menu-social {
  position: fixed;
  bottom: 55px;
  width: 100%;
  height: 65px;
  z-index: 8;
  display: none;
  background: white;
  border-top: 1px solid whitesmoke;
}

.menu-social a {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-size: 1.4em;
  padding: 12px;
  margin-right: 8px;
  display: none;
}

.menu-social a:hover {
  color: #00acc1;
}

.menu-social a:last-child {
  margin: 0;
}

#container-social {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 55px;
  margin-bottom: 55px;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.hero-container {
  width: 100%;
  height: auto;
  background: white;
  -webkit-box-shadow: 0 1px 20px lightgrey;
  -moz-box-shadow: 0 1px 20px lightgrey;
  box-shadow: 0 1px 20px lightgrey;
  border-bottom: 4px solid transparent;
  border-image: repeating-linear-gradient(to left, #00acc1, #40e0d0, #4dd0e1, #00acc1);
  border-image-slice: 1;
}

.carousel-container-hero {
  width: 100%;
  height: auto;
}

.carousel-content {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background: white;
  padding: 12px;
  width: 100%;
  height: 300px;
}

.carousel-content:hover, .carousel-content:active {
  -webkit-transform: scale(1.01) translateY(-4px);
  -moz-transform: scale(1.01) translateY(-4px);
  -ms-transform: scale(1.01) translateY(-4px);
  -o-transform: scale(1.01) translateY(-4px);
  transform: scale(1.01) translateY(-4px);
}

.carousel-content-container {
  border: 1px solid whitesmoke;
  width: 100%;
  height: 100%;
}

.img-carousel-container {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-free {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: #22bb33;
}

.carousel-img {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-text {
  padding: 12px;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-text * {
  text-align: center;
}

.carousel-text p {
  color: lightgrey;
}

.carousel-text h1 {
  color: black;
  font-weight: bolder;
  font-size: 1.3em;
}

.carousel-text h2 {
  color: #00acc1;
}

.text-nowrap {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.division-title {
  width: 100%;
  padding: 24px;
  font-weight: bolder;
  font-size: 1.5em;
  animation: backgroundAnimation 1s ease-in-out 0s infinite alternate;
  color: white;
  text-align: left;
  background: linear-gradient(to right, #00acc1, #40e0d0);
  margin: 24px 0;
}

.division-title:first-child {
  margin-top: 0;
}

.artigos-container {
  background: whitesmoke;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 12px;
}

.artigos-content-container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
}

.artigos-content {
  -webkit-box-shadow: 0 1px 20px lightgrey;
  -moz-box-shadow: 0 1px 20px lightgrey;
  box-shadow: 0 1px 20px lightgrey;
  margin-bottom: 12px;
  min-height: 500px;
}

.icon-artigo {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: 100px;
  text-align: center;
  height: auto;
  padding: 12px;
  position: absolute;
  color: white;
  background: #40e0d0;
  display: none;
}

.icon-artigo:nth-child(2n - 1) {
  background: #00acc1;
}

.icon-time {
  top: 8px;
  left: 8px;
}

.icon-tecnologia {
  font-size: 1.5em;
  top: 8px;
  right: 8px;
}

.icon-nivel {
  bottom: 8px;
  left: 8px;
}

.icon-pag {
  bottom: 8px;
  font-size: 1.5em;
  right: 8px;
}

.text-artigos {
  padding: 12px;
}

.text-artigos h1 {
  padding: 16px;
}

.trending-container {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
  display: none;
}

.trending-content-container {
  display: grid;
  width: 100%;
  grid-gap: 8px;
}

.bloco-grande {
  grid-area: blocoGrande;
  background: #00acc1;
}

.bloco-medio {
  grid-area: blocoMedio;
  background: #40e0d0;
}

#pequeno-1 {
  grid-area: blocoPequeno1;
  background: #4dd0e1;
}

#pequeno-2 {
  grid-area: blocoPequeno2;
  background: deepskyblue;
}

@media screen and (min-width: 379px) {
  .icon-artigo {
    display: block;
  }
  .trending-container {
    display: block;
  }
  .trending-content-container {
    height: 200px;
    grid-template: "blocoMedio blocoMedio blocoGrande" 1fr "blocoPequeno1 blocoPequeno2 blocoGrande" 1fr / 1fr 1fr 2fr;
  }
}

@media screen and (min-width: 577px) {
  .carousel-content {
    width: 48%;
  }
  .menu-content-block-content {
    width: 48%;
  }
}

@media screen and (min-width: 770px) {
  .trending-content-container {
    height: 400px;
    grid-template: "blocoMedio blocoMedio blocoGrande" 1fr "blocoPequeno1 blocoPequeno2 blocoGrande" 1fr / 1fr 1fr 2fr;
  }
}

@media screen and (min-width: 950px) {
  .carousel-content {
    width: 30%;
  }
  .menu-content-block-content {
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .trending-content-container {
    height: 600px;
  }
  .carousel-content {
    width: 24%;
  }
  .menu-content-block-content {
    width: 24%;
  }
}
