@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");
@keyframes colorAnimation {
  0% {
    color: #40e0d0;
  }
  50% {
    color: black;
  }
  100% {
    color: #00acc1;
  }
}

@keyframes textIndentAnimation {
  0% {
    text-indent: 5px;
  }
  100% {
    text-indent: -5px;
  }
}

@keyframes toRightAnimation {
  0% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}

@keyframes toBottomAnimation {
  0% {
    transform: translateY(16px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes toBottomAnimationAndColorAnimation {
  0% {
    color: black;
    transform: translateY(16px);
  }
  50% {
    color: #40e0d0;
  }
  100% {
    color: #00acc1;
    transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font-family: 'Titillium Web', sans-serif;
  font-weight: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
}

b {
  font-weight: bolder;
}

a {
  display: block;
  cursor: pointer;
}

a:not([target="_blank"]) {
  text-decoration: none;
  color: #40e0d0;
}

button {
  cursor: pointer;
  background: transparent;
}

.erro {
  visibility: hidden;
  color: red;
  font-weight: bolder;
  margin-bottom: 24px;
}

.sucess {
  visibility: hidden;
  color: green;
  font-weight: bolder;
  margin-top: 24px;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.viewport {
  width: 100%;
  height: 100%;
  background: white;
  min-height: 100vh;
}

.container {
  position: relative;
  min-height: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}

.container * {
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}

.icon {
  margin: 36px 0;
  color: #40e0d0;
  font-size: 4em;
  animation: colorAnimation 1s ease-in-out 0s infinite alternate;
}

.buttons-container {
  width: 100%;
  max-height: 10%;
}

.buttons-container li {
  display: block;
}

.buttons-container a {
  margin-bottom: 36px;
  padding: 16px;
  text-align: center;
}

.button-link {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  border: 1px solid whitesmoke;
  font-weight: bolder;
}

.button-link:hover, .button-link:active {
  filter: grayscale(100%);
}

#cadastro {
  border: none;
  background: #40e0d0;
  color: white;
}

.float-left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.float-left a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: white;
  border: 1px solid whitesmoke;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.float-left a:hover {
  background: #40e0d0;
  color: white;
}

.float-left li {
  margin-right: 12px;
}

.float-left li:last-child {
  margin: 0;
}

#account-login {
  display: none;
}

.title {
  animation: colorAnimation 1s ease-in-out 0s infinite alternate;
  padding: 16px;
  margin: 72px 0 36px 0;
  color: #40e0d0;
  font-size: 2em;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.icon-pass {
  cursor: pointer;
}

.back-container {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: white;
  animation: textIndentAnimation 1s ease-in-out 0s infinite alternate;
  cursor: pointer;
  width: 100%;
  padding: 16px;
  color: #40e0d0;
  -webkit-box-shadow: 0 1px 20px lightgrey;
  -moz-box-shadow: 0 1px 20px lightgrey;
  box-shadow: 0 1px 20px lightgrey;
  font-size: 2em;
  position: fixed;
  top: 0;
}

.account-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 16px;
}

.account-form label {
  width: 100%;
  margin-bottom: 12px;
}

.input-container {
  transition: all 200ms ease-in-out;
  border: 1px solid whitesmoke;
  width: 100%;
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-icon {
  color: #40e0d0;
  padding: 16px;
}

.input {
  width: 100%;
  min-width: 0;
  padding: 16px;
  background: transparent;
}

.esqueci-senha {
  font-size: 0.95em;
  width: 100%;
  text-align: left;
  margin-bottom: 36px;
}

.submit {
  -webkit-box-shadow: 20px 20px 50px rgba(64, 224, 208, 0.5);
  -moz-box-shadow: 20px 20px 50px rgba(64, 224, 208, 0.5);
  box-shadow: 20px 20px 50px rgba(64, 224, 208, 0.5);
  font-size: 1.2em;
  width: 100%;
  padding: 16px;
  background: turquoise;
  color: white;
  font-weight: bolder;
}

#account-cadastro {
  display: none;
}

@media screen and (max-width: 320px) {
  .container {
    padding: 8px;
  }
}
